<div _ngcontent-dmc-c67="" class="flex flex-wrap items-center pb-32 container-2 bg-blueGray-100">
  <div _ngcontent-dmc-c67="" class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-20"><div _ngcontent-dmc-c67="" class="justify-center flex flex-wrap relative imgW">
    <img _ngcontent-dmc-c67="" src="../../../../assets/img/GRA_Thumbnail-SER-IT.png">
  </div></div><div _ngcontent-dmc-c67="" class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-20 companyfont">
    <h4 _ngcontent-dmc-c67="" class="mb-2 font-semibold leading-normal"> Institutional Training </h4>
      <p _ngcontent-dmc-c67="" class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600"> 
        ICT Academy of Kerala collaborates with educational institutions across the state of Kerala to improve the employability skills of both faculty and students. 
        The educational institutions include Engineering, Arts &amp; Science and Polytechnics. Apart from training programs, ICTAK provides customized solutions to improve the quality of the college education ecosystem of Kerala. 
      </p>
    </div>
  </div>