
<section class="section-login">
 <div class="container">
    <div class="form-container">
      <form class="form" #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)">
        <h1 class="sg">O T P GENERATOR </h1>
        <div class="form-control">
          <input type="text" class="input" #fullName="ngModel" [(ngModel)]="userService.selectedUser.fullName" name="fullName" placeholder="Full Name"
          required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !fullName.valid }">
          <div *ngIf="signUpForm.submitted && !fullName.valid">
          <label class="validation-message">This field is required.</label>
          </div>
        </div>
        <div class="form-control">
          <input type="text" class="input" #email="ngModel" [(ngModel)]="userService.selectedUser.email" name="email" placeholder="Email"
          required [pattern]="emailRegex"  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !email.valid }">
          <div *ngIf="signUpForm.submitted && email.errors">
          <label *ngIf="email.errors.required" class="validation-message">This field is required.</label>
          <label *ngIf="email.errors.pattern" class="validation-message">Invalid email address.</label>
          </div>
        </div>
    
        <div class="success" *ngIf="showSucessMessage">
          OTP sent Successfully
        </div>   
        <div class="alert" *ngIf="serverErrorMessages">
          {{serverErrorMessages}}
        </div>
        <button class="btn btn-login">Generate O T P</button>
      </form>

  
    </div>
  </div>
</section>
