<div class="wrapper">
  <div class="title">
    OTP Generator
  </div>
  <form (ngSubmit)="updateStudent()">
  <div class="form"> 
     <div class="inputfield" >
        <label>Name</label>
        <input type="text"   [(ngModel)] ='studentData.fullName' class="input form-control"  name="fullName" required>
     </div>  

      <div class="inputfield">
        <label>Email</label>
        <input  type="email" [(ngModel)] ='studentData.email' class="input form-control" name="email">
       </div> 

    
 
      
     
    
    

 



    <div class="inputfield">
      <button type="submit" (click)="approveStudent(studentData)" class="btn btn-primary">Generate OTP</button>
   </div>

  </div>
 </form>
</div>




